@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Scrap University</h1>
</div>
<img src="~/images/pexels-pixabay-208560.jpg" alt="Main Campus" style="width:100%; margin-bottom:10px;"/>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Scrap University</h2>
        <p>
            Scrap University may not be your first choice, but after
            15 rejection letters, it might be your only choice left.
            Scrap University is not your typical school, we take the
            bottom of the barrel and give them a piece of paper that
            will allow them to land that job. <i>Scrap University is not
            liable if and when they lose that job.</i>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from Scrap</h2>
        <p>
            Scrap University not only offers the basic courses of English
            and Math. It also offers courses that invlove making things. We
            here at Scrap University believe that developing a trade is way
            more important than getting that piece of paper. Sure, once they
            get into the real world, land that dream job and then fail because
            we didn't teach them anything of value, they have that trade skill
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>
            Scrap University took its application process from the wonderful
            and innovative South Harmon Institute of Technology. It's simple,
            just click the link below and download your acceptance letter.
            We don't even make you wait on pins and needles, you are
            immediately accepted.
        </p>
        <p><a class="btn btn-default" href="#">Download Acceptance Letter</a></p>
    </div>
</div>
